In [1]:
text='-'*50

In [2]:
print(text)

--------------------------------------------------

In [27]:
BirthdayDigits=[[10,11,1999], [10,1,1998]]

In [8]:
BirthdayDigits[0]

10

In [5]:
len(BirthdayDigits)

3

In [9]:
BirthdayDigits[2]

1999

In [37]:
BirthdayDigits[1][2]

1998

In [38]:
def HelloWorld(): 
    print('Hello World')

HelloWorld()

Hello World

In [40]:
def multNums(Num1, Num2):
    return Num1 + Num2 

multNums(1,2)

3

In [44]:
Fruits = ['Apples', 'Bananas', 'Oranges']

In [45]:
for fruit in Fruits: 
    print(fruit)

Apples
Bananas
Oranges

In [54]:
numbers = [50]

for number in numbers:
    if number < 101: 
        print(number)
        numbers.append(number + 1)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [55]:
def evaluate(name): 
    if name == 'Python' or str(name) == 'Stata': 
        return 'cool'
    else: 
        return 'lame'

In [68]:
evaluate('Python') 
evaluate('Stata')
evaluate('Java')

'lame'

In [69]:
myList = [-2,-1,0,1,2]

In [70]:
for i in myList: 
    if i < 0: 
        print('Negative')
    elif i > 0: 
        print('Positive')
    else: 
        print('Zero')

Negative
Negative
Zero
Positive
Positive

In [74]:
print(3 == 1) 
print(3 > 1) 
print(3 == 1+2)
print('Three' == 'Three')

False
True
True
True

In [75]:
list = [1,2,3]
print (0 in list)

False

In [77]:
print ([1] == [1])
print ([1] is [1]) #not the same location in memory, so they are not the same

True
False

In [78]:
myList2 = [1]
myList2 = myList2
print (myList2 == myList2)

True

In [79]:
A = {1,2,3,4} 
B = {2,4,6,8}

In [80]:
A.union(B)

{1, 2, 3, 4, 6, 8}

In [81]:
A.intersection(B)

{2, 4}

In [82]:
print(A == A)

True

In [84]:
print(A==B)

False

In [85]:
A == {1,1,1,2,3,4}

True

In [86]:
C ={1,1,1,2,3,4}

In [87]:
C

{1, 2, 3, 4}

In [88]:
mydict = {1:'A', 2:'B', 3:'C'}

In [89]:
mydict[1]

'A'

In [91]:
for i in mydict: 
    print (mydict[i])

A
B
C

In [97]:
for i in mydict: 
    if mydict[i] == 'C':
        print (i)

3

In [1]:
myNumber = 7

In [3]:
print ("My favourite number is" + " " + str(myNumber))

My favourite number is 7

In [11]:
word = 'Mississippi'

In [12]:
for i in range(len(word)): 
    print ("Letter" + " " + str(i) + " " + "of Mississippi is: " + word[i])

Letter 0 of Mississippi is: M
Letter 1 of Mississippi is: i
Letter 2 of Mississippi is: s
Letter 3 of Mississippi is: s
Letter 4 of Mississippi is: i
Letter 5 of Mississippi is: s
Letter 6 of Mississippi is: s
Letter 7 of Mississippi is: i
Letter 8 of Mississippi is: p
Letter 9 of Mississippi is: p
Letter 10 of Mississippi is: i

In [18]:
for i in range(len(word)): 
    print ("The first" + " " + str(i) + " " + "letters of" + " " + "Mississipi are:" + word[0:i])

The first 0 letters of Mississipi are:
The first 1 letters of Mississipi are:M
The first 2 letters of Mississipi are:Mi
The first 3 letters of Mississipi are:Mis
The first 4 letters of Mississipi are:Miss
The first 5 letters of Mississipi are:Missi
The first 6 letters of Mississipi are:Missis
The first 7 letters of Mississipi are:Mississ
The first 8 letters of Mississipi are:Mississi
The first 9 letters of Mississipi are:Mississip
The first 10 letters of Mississipi are:Mississipp

In [21]:
lines = "hello \t it's"
lines2 = "me \n I"

In [22]:
print (lines, lines2)

hello 	 it's me
 I

In [3]:
import re

In [4]:
re.findall('ss','Mississipi')

['ss', 'ss']

In [5]:
re.findall('is*','Mississipi')

['iss', 'iss', 'i', 'i']

In [6]:
re.findall('is?','Mississipi')

['is', 'is', 'i', 'i']

In [34]:
re.findall('s.*p','Mississipi')

['ssissip']

In [43]:
re.findall('[is]+','Mississipi')

['ississi', 'i']

In [46]:
re.findall('[A-Za-z]{3}', '03Jan1991')

['Jan']

In [48]:
re.findall('[A-Za-z]{2}[0-9]', '03Jan1991')

['an1']

In [49]:
re.findall('[A-Za-z]{1}[0-9]{4}', '03Jan1991')

['n1991']

In [53]:
re.findall('Jan|Dec|Nov', '03Jan1991')

['Jan']

In [60]:
wordlist=re.split(' ', 'This is a sentence')

In [62]:
' '.join(wordlist)

'This is a sentence'

In [168]:
myData = """v1, v2, v3
1, 2, 3
2, 4, 6
4, 8, 12 """

In [169]:
myRows = re.split('\n', myData)

In [170]:
print(myRows)

['v1, v2, v3', '1, 2, 3', '2, 4, 6', '4, 8, 12 ']

In [171]:
myDict = {0:[], 1:[], 2:[]}

In [172]:
print(range(len(myRows)))

range(0, 4)

In [173]:
for i in myRows: 
    r = []
    f = re.split(',', i)
    for n in range(len(f)): 
        r.append(f[n])
    print(f)
    print(r)
    for x in range(len(r)):
        myDict[x].append(r[x])

['v1', ' v2', ' v3']
['v1', ' v2', ' v3']
['1', ' 2', ' 3']
['1', ' 2', ' 3']
['2', ' 4', ' 6']
['2', ' 4', ' 6']
['4', ' 8', ' 12 ']
['4', ' 8', ' 12 ']

In [174]:
print(myDict)

{0: ['v1', '1', '2', '4'], 1: [' v2', ' 2', ' 4', ' 8'], 2: [' v3', ' 3', ' 6', ' 12 ']}

In [175]:
myDict[0]

['v1', '1', '2', '4']

In [352]:
myDict[1]

[' v2', ' 2', ' 4', ' 8']

In [176]:
myDict[2]

[' v3', ' 3', ' 6', ' 12 ']

In [203]:
string = '03Jan1991'

In [204]:
#result = re.search("([0-9]{2}) ([A-Za-z]{1})", string)

In [246]:
result = re.search("([0-9]{2})([A-Za-z]{1}?)", string)

In [247]:
print(result)

<re.Match object; span=(0, 3), match='03J'>

In [248]:
result.groups()

('03', 'J')

In [249]:
result.group(1)

'03'

In [250]:
result2 = re.search("([A-Za-z]{1}?)([0-9]{4})", string)

In [251]:
result2.groups()

('n', '1991')

In [253]:
result2.group(2)

'1991'

In [254]:
import os

In [256]:
directory = os.getcwd()

In [257]:
os.listdir(directory)

['Python for Economists .ipynb',
 '.ipynb_checkpoints',
 'Quantitative Economics with Python.ipynb']

In [266]:
directory2 = '/home/ollie/Documents'
os.chdir(directory2)

In [268]:
files = os.listdir(directory2)

In [272]:
for file in files:
    if 'pdf' in str(file):
        print (file)
    elif 'odt' in str(file):
        print(file)

For C by the sea.odt
BioMotivationORG.pdf

In [282]:
os.getcwd()

'/home/ollie/Documents'

In [332]:
file = open('file.txt', 'w')

In [333]:
file.write('Hello World!')
file.write("\n 1 \n 2")

file.close()

In [334]:
file = open('file.txt', 'a')

In [335]:
file.write('appended')


file.close()

In [336]:
file = open('file.txt', 'r')

In [337]:
file.read()

'Hello World!\n 1 \n 2appended'

In [338]:
file.close()

In [350]:
os.remove('file.txt')

In [351]:
directory = os.getcwd()
os.listdir(directory)

['file.text', 'For C by the sea.odt', 'BioMotivationORG.pdf']